/.idea
*.log
*.xml
/.vs/Poker/v14
*.
**/__pycache__
*.pyc
/poker/log/screenshots/*
screenshot_vbox.png
sheet_not_found.png
/poker/log/*.png
*.log.*
/poker/pics/*

poker/config.ini

*importmagic.idx

poker/tables/templates/
