################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
*.log
*.xml
/.vs/Poker/v14
*.
/pics/*.png
config.ini
**/__pycache__
*.pyc