pandas==1.2.4
pytest
pylint
pydocstyle
numpy
matplotlib
scipy
opencv-python
pillow
pyinstaller
pymongo
pyqt5
pytesseract
virtualbox
pyyaml
requests
jupyter
xlib
xlrd
lmfit
openpyxl
numexpr
fastapi
tensorflow-gpu
tqdm
seaborn