pandas
pytest
pylint
pydocstyle
numpy
matplotlib
scipy
opencv-python
pillow
pyinstaller
pymongo
pyqt6
pytesseract
virtualbox
pyyaml
requests
jupyter
xlib
xlrd
lmfit
openpyxl
numexpr
fastapi
tensorflow
tqdm
seaborn
PyJWT==1.7.0
flask_jwt_extended
fastapi_auth
uvicorn
tesserocr