pandas==2.0.3
pytest
pylint
pydocstyle
numpy
matplotlib==3.7.2
scipy
opencv-python
pillow
pyinstaller==5.13.0
pymongo==4.3.3
pyqt6
virtualbox
pyyaml
requests
jupyter
xlib
xlrd
lmfit
openpyxl
numexpr==2.8.4
fastapi==0.101.1
tensorflow
tqdm
seaborn
PyJWT==1.7.0
flask_jwt_extended
fastapi_auth
uvicorn==0.23.2
tesserocr==2.6.1
