pandas~=1.1.5
pytest
pylint
pydocstyle
numpy==1.19.3
matplotlib
scipy
opencv-python
pillow
pyinstaller
pymongo
pyqt5
pytesseract
virtualbox
pyyaml
requests
configobj
jupyter
xlib
xlrd
lmfit
openpyxl~=3.0.5
numexpr